/ {
	aliases {
		accel0 = &icg20660l;
	};
};

&i2c1 {
	status = "okay";

	icg20660l: icg20660l@69 {
		compatible = "invensense,icg20660l";
		reg = <0x69>;
		status = "okay";
		accel-fs = <0>;  /* ±2g */
		gyro-fs = <0>;   /* ±125 dps */
		odr = <500>;
		int-gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
	};
};
